---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <main class="container">
    <header class="section">
      <h1 class="name glow-wrap">
        <span class="text-stroke glow-1">Ogunbayo&nbsp;</span>
        <span class="glow-2">Abayomi.</span>
      </h1>
      <h1 class="name glow-wrap">
        <span class="text-stroke glow-2">Software&nbsp;</span>
        <span class="glow-3">Engineer.</span>
      </h1>
      <h1 class="name glow-wrap">
        <span class="text-stroke glow-3">Lagos,&nbsp;</span>
        <br />
        <span class="glow-4">Nigeria.</span>
      </h1>
    </header>
    <section class="intro" id="intro">
      <h2>Hey there 👋🏾,</h2>
      <p>
        I'm Abayomi, a Software Engineer passionate about crafting scalable systems and impactful solutions. Driven by customer-focused development, I love tackling real-world problems with clean, efficient code.
      </p>
      <br />
      <p>Favourite catch phrase: "Building for impact"</p>
    </section>
    <section class="section" id="work-history">
      <h3 class="heading">Work History</h3>
      <div class="flex">
        <div class="flex-item">
          <h4>
            Blusalt
            <span>| July 2022 – Present </span>
          </h4>
          <p>
            At Blusalt, I’ve been at the forefront of developing digital infrastructure for seamless payments and financial services. 
            I played a key role in optimizing systems that process thousands of bill payments daily, ensuring smooth and reliable transactions for our customers. 
          </p>
          <p>
            A major highlight of my work has been transforming Blusalt’s core service from a monolithic architecture to a microservices-based structure, significantly boosting performance and scalability. 
            I also collaborate closely with the support team to swiftly address client-reported issues, enhancing the platform’s responsiveness and reliability.
          </p>
        </div>
        <div class="flex-item">
          <h4>
            VerifyMe
            <span>| Oct 2020 – June 2022 </span>
          </h4>
          <p>
            During my time at VerifyMe, I contributed to building the digital trust infrastructure for Nigeria, 
            bringing secure and efficient identity verification solutions to the market. 
            My contributions included building a sophisticated facial recognition system that went beyond simple image matching; 
            it ensured biometric traits matched living individuals, effectively blocking fraud attempts using static images.
          </p>
				  <p>
            I also optimized several core services that processed thousands of identity verifications daily,
            crucial for businesses relying on trusted verifications. Additionally, I introduced a performance-based 
            rating system for agents, enabling more accurate evaluations and helping to motivate a high standard of service.
          </p>
        </div>
        <div class="flex-item">
          <h4>
            Swipe
            <span>| Oct 2018 – Oct 2020 </span>
          </h4>
          <p>
            At Swipe, I was immersed in an environment focused on digital solutions across Africa. 
            I played a pivotal role in building a fraud detection system that brought a 10% reduction in fraudulent activities for a financial services provider. 
            This system used machine learning insights to assess risk levels for transactions, providing real-time fraud alerts.
          </p>
        </div>
        <div class="flex-item">
          <h4>
            Cregital 
            <span>| April 2018 – Sept 2018 </span>
          </h4>
          <p>
            At Cregital, I had the opportunity to work on innovative projects that spanned multiple regions, from Africa to North America. 
            One of the highlights was creating a joint investment platform for Volition Capital, a service used by thousands of users worldwide. This platform facilitated seamless investments, 
            providing real-time updates and reliable transaction processing, which earned praise from clients for its reliability and user-friendly design.
          </p>
        </div>
      </div>
    </section>
  </main>
</PageLayout>
